.Movies-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    gap: 30px;
}

.Movie-item {
    display: grid;
    place-items: center;
    gap: 15px;
}

.Movie-item h3 {
    height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.Movie-item p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.Movie-item img {
    height: 320px;
}

.Movies-without-result {
    text-align: center;
}
